<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004694155539-iik5eva873vh8ebrnl0vfo7fsod7hsoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004694155539-iik5eva873vh8ebrnl0vfo7fsod7hsoe</string>
	<key>API_KEY</key>
	<string>AIzaSyAVERkMTz7_SnQ9VW6kwK_5ZWJPBCxUwLo</string>
	<key>GCM_SENDER_ID</key>
	<string>1004694155539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-82c4c</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-82c4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004694155539:ios:c9f09e28c7ecd08d4feae6</string>
</dict>
</plist>